
.card-body {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 920px;
    border-radius: 40px;
    overflow: hidden;
    background-color: white;
}

.card-header {
    display: flex;
    height: 550px;
    width: 100%;
    background-color: #4DA1A9;
    justify-content: center;
    align-items: center;

}

.card-header_img {
    width: 75%;
    object-fit: contain;
}

.card-section, .card-footer {
    padding: 50px 30px;
}

.card-section_title {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-section_description {
    color: grey;
    font-size: 1.2rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracker {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.dot {
    display: block;
    height: 8px;
    width: 8px;
    background-color: grey;
    border-radius: 10px;
    border: 0px;
}

.active {
    width: 30px;
    background-color: #272727;
}

.buttons {
    display: flex;
    gap: 10px;
}


.button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #272727;

}

.prev {
    background-color: white;
    color: #272727;

}

.next {
    background-color: #272727;
    color: white;
}